# 서버 포트
PORT=

# 데이터베이스 연결 URL
DATABASE_URL=postgresql://<username>:<password>@<host>:5432/<database>?schema=public

# Redis 설정
REDIS_HOST=
REDIS_PORT=

# 애플리케이션 설정
APP_NAME=EduOps

# 실행 환경
NODE_ENV=development

# 클라이언트 URL
CLIENT_URL=http://localhost:3000