# 서버 포트
PORT=

# 데이터베이스 연결 URL
DATABASE_URL=postgresql://<username>:<password>@<host>:5432/<database>?schema=public

# Redis 설정
REDIS_HOST=
REDIS_PORT=

# 애플리케이션 설정
APP_NAME=EduOps
APP_LOGO=

# 실행 환경
NODE_ENV=development

# 클라이언트 URL
CLIENT_URL=http://localhost:3000
EMAIL_URL=

# 이메일 발송 설정
SENDER_EMAIL=planova.noreply@gmail.com
SENDER_PWD=nraulitsyqfuhrcr

# JWT 설정
JWT_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=
JWT_SECRET_EXPIRES_IN=900
JWT_REFRESH_EXPIRES_IN=604800